/* CSS HEX 
--maize: #eedf3cff;
--viridian: #428b7bff;
--vermilion: #e54a43ff;
--outer-space: #474747ff;
--delft-blue: #40406aff;
--white-smoke: #f5f5f5ff;
--night: #0a0a0aff;
 
CSS HSL 
--maize: hsla(55, 84%, 58%, 1);
--viridian: hsla(167, 36%, 40%, 1);
--vermilion: hsla(3, 76%, 58%, 1);
--outer-space: hsla(0, 0%, 28%, 1);
--delft-blue: hsla(240, 25%, 33%, 1);
--white-smoke: hsla(0, 0%, 96%, 1);
--night: hsla(0, 0%, 4%, 1);
*/