/* CSS HEX 
--maize: #eedf3cff;
--viridian: #428b7bff;
--vermilion: #e54a43ff;
--outer-space: #474747ff;
--delft-blue: #40406aff;
--white-smoke: #f5f5f5ff;
--night: #0a0a0aff;
 
CSS HSL 
--maize: hsla(55, 84%, 58%, 1);
--viridian: hsla(167, 36%, 40%, 1);
--vermilion: hsla(3, 76%, 58%, 1);
--outer-space: hsla(0, 0%, 28%, 1);
--delft-blue: hsla(240, 25%, 33%, 1);
--white-smoke: hsla(0, 0%, 96%, 1);
--night: hsla(0, 0%, 4%, 1);
*************************************************************************************
COLOR CHOICE TO BE REMOVED LATER
************************************************************************************/
/* UNIVERSAL */
*{
    font-size: 16px;
    margin: 0;
    padding: 0;
} 

body{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5ff;
    color: #0a0a0aff;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.142rem;
    min-height: 100vh;
}

a,
input,
textarea,
.tile,
.btn{
    cursor: pointer;
}

a{
    text-decoration: none;
}

/*************************************************************************************
ALL BOXES STYLES
************************************************************************************
* Container */
#desktop_menu,
#contact,
#about,
section{
    display: none;
}

#menu_icon,
#home{
    display: block;
}

/*************************************************************************************
MENU  REMOVED LATER
************************************************************************************
* Menu */
#menu_icon{
    padding-left: 0.5rem; 
}

#menu_icon:hover{
    color: #e54a43ff; 
}

header{ 
    background-color: #428b7bff;
    color: #f5f5f5ff;
}

#dropdown_menu a{
    display: block;
    color: #f5f5f5ff;
    text-align: left;
    max-width: 100vw;
    padding: 0.1rem;
}

#dropdown_menu{
    background-color: #e54a43ff;
    padding-left: 0.8rem;
}

#dropdown_menu a:hover{
    color: #474747ff;
    border-left: 0.4rem solid #eedf3cff;
    font-weight: bolder;
}


/*************************************************************************************
FOOTER TO BE REMOVED LATER
************************************************************************************* 
Footer */
footer{
    background-color: #474747ff;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    padding: 1rem;
}

.fa-brands{
    color:  #f5f5f5ff;
    padding: 0.1rem;
}

.fa-brands:hover{
    color: #e54a43ff;
    border-bottom: 0.3rem solid #eedf3cff;
    border-radius: 1rem;
}


/*************************************************************************************
BUTTONS TO BE REMOVED LATER
************************************************************************************
* Buttons */
.return_btn{
    color: #0a0a0aff;
    margin-left: 16rem;
}
.return_btn:hover{
    color: #e54a43ff;
    border: 0.2rem solid #eedf3cff;
    border-radius: 1.2rem;
    font-size: medium;
    padding: 0.2rem;
}



/*************************************************************************************
LANDING TO BE REMOVED LATER
************************************************************************************
*LANDING PAGE STYLING*/
img{
    height: 50vh;
    width: 85vw;
}

#home_img{
    padding: 1rem 1.8rem 1rem 1.5rem;
    margin-top: 2rem;
    border-radius: 8rem;
    height: 50vh;
}

h1{
    font-size: 1.90rem;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
}



/*************************************************************************************
ABOUT TO BE REMOVED LATER
************************************************************************************
*ABOUT PAGE STYLING*/
.game_info_img{
    border-radius: 0.8rem;
    box-shadow: 0.2rem  0.3rem 0.2rem  0.1rem hsla(240, 25%, 33%, 1);
    width: 75vw;
    height: 30vh;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

#about .content_flow{
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
}

.content_flow p{
    padding: 0 0 1rem 0;
}

article,
form{
    padding: 1rem;
}

h2{
    font-size: 1.25rem;
    text-align: center;
}


#rules ul {
    list-style-type: circle;
    padding-inline-start: 1rem;
}


/*************************************************************************************
CONTACT TO BE REMOVED LATER
************************************************************************************
*CONTACT PAGE STYLING*/
form,
#game_board{
    box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem hsla(240, 25%, 33%, 1);
}

.shadow_setup,
.next_btn{
    box-shadow: 0.2rem  0.3rem 0.2rem  0.1rem hsla(240, 25%, 33%, 1);
}

form{
    background-color: hsla(3, 76%, 58%, 0.5);
    border-radius: 0.3rem;
    border:hsla(3, 76%, 58%, 0.5);
    height: 60vh;
    width: 85vw;
    padding: 0.8rem;
    margin-left: 1rem;
}

fieldset{
    border: none;
}

.form_heading{
    padding-bottom: 0.5rem; 
}

.mobile_label{
    margin-left: 30vw;
    padding: 0.3rem;
}

.form_input,
textarea,
button,
#player_name_input input{
    margin: 0.3rem;
    padding: 0.2rem;
}

.form_input,
textarea,
#player_name_input input{
    background-color: transparent;
    border: transparent;
    border-bottom: 0.01rem solid hsla(240, 25%, 33%, 1);
    padding-left: 5rem;
}

.form_input{
    width: 65vw;
}

.msg_headinglbl{
    margin-left: 20vw;
}

textarea{
    border: 0.1rem solid hsla(240, 25%, 33%, 1);
    border-radius: 0.2rem;
    height: 15vh;
    width: 75vw;
    margin-left: 0.8rem;
    padding-left: 0.5rem;
}

.form_input:hover,
textarea:hover,
#player_name_input input:hover{
    background-color: hsla(240, 25%, 33%, 0.1);
}

.form_btn,
.next_btn{
    background-color: #428b7bff;
    color: #f5f5f5ff;
    border: 0.1rem dotted #40406aff;
    margin-top: 1.5rem;
    margin-left: 3.5rem;
}

.form_btn:hover,
.next_btn:hover{
    background-color:  #e54a43ff;
    border: 0.1rem dotted #eedf3cff;
    box-shadow: 0 0.1rem, 0 0.1rem, 0 0.1rem, 0 0.1rem 0.3rem inset hsla(55, 84%, 58%, 1);
    color: #474747ff;
    font-weight: bolder;
}


/*************************************************************************************
GAME TO BE REMOVED LATER
************************************************************************************
*GAME PAGE STYLING*/
#game,
#mode_setup div,
#player_name_input div,
#many_playermsg h3,
#many_playermsg div{
    padding: 1rem;
}

#many_playermsg h3{
    padding-right: 3rem;
}

#game_btn{
    display: flex;
    flex-direction: row;
}

button,
.next_btn{
    border-radius: 0.30rem;
    margin-left: 2rem;
    width: 20vw;
}

#game_btn span{
    padding: 0;
}

#game_btn div{
    width: 2.5rem;
    height: 1.7rem;
    padding: 0.2rem 0.2rem 0 0.4rem;
}

#game_btn button{
    width: 3rem;
    height: 2rem;
}
  
#game_btn i{
    font-size: small;
}

#game_btn i:hover{
    color: #eedf3cff;
}

/*Styling not applied to be fixed later!!!!
NOT DOING IT ANY MORE, WILL LEAVE IT PLAIN
input[type="radio"]:checked::before {
    background-color: #40406aff;
    border: 0.1rem solid #474747ff;
    border-radius: 50%;
  }*/

#player_name_input input{
    background-color: transparent;
    padding-left: 0.5rem;
}

#game_stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#game_heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0.5rem;
}

#game_heading span, 
#game_heading i{
    font-size: 1.3rem;
    font-weight: bolder;
}

#game_heading i,
#game_stats i{
    color: #40406aff;
}

#game_stats i{
    font-size: 1.2rem;
}

#game_btn{
    padding: 0 0 1rem 0;
}

.popup {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#game_board{
    background-color: #428b7bff;
    border: 0.1rem dotted #40406aff;
    height: fit-content;
    width: fit-content;
    max-width: 85rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.grid {
    display: grid;
    gap: 1rem;
    margin: 0 auto;
}

.tile {
    background-color: #40406aff;
    width: 50vw;
    height: 13vh;
    border: 0.12rem double #f5f5f5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.tile:hover{
    background-color:  #e54a43ff;
    border: 0.1rem double #eedf3cff;
    box-shadow: 0 0.1rem, 0 0.1rem, 0 0.1rem, 0 0.1rem 0.3rem #474747ff;

}

.tile.flipped{
    transform: rotateY('180deg');
    background-size: cover;
    background-position: center;
}


/*************************************************************************************
TABLET VIEWPORT TO BE REMOVED LATER
************************************************************************************
* TABLET */
@media (min-width: 480px) {
    
    /*************************************************************************************
    LANDING TO BE REMOVED LATER
    ************************************************************************************
    * Landing page*/
    #home_img{
        margin-left: 2rem;
        border-radius: 9rem;
        height: 60vh;
    }

    /*************************************************************************************
    ABOUT TO BE REMOVED LATER
    ************************************************************************************
    *ABOUT SECTION*/
    article{
        border: 0.05rem solid #40406aff;
        box-shadow: 0.2rem  0.3rem 0.2rem  0.1rem hsla(240, 25%, 33%, 1);
        width: 90vw;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    #about{
        margin: 1rem;
    }

    .game_info_img{
        display: none;
    }

    article h2{
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }

    #flexbox_rules_instructions{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #flexbox_rules_instructions article{
        width: 45vw;
        height: 40vh;
        overflow: scroll;
    }

    .rules_img{
        display: block;
        box-shadow: none;
        width: 35vw;
        height: 20vh;
        margin: 0 0 0.5rem 0.5rem ;
    }

    #brief_position i{
        font-size: inherit;
        margin: 0;
    }

    .return_btn i{
        margin-left: -8rem;
        font-size: 1.4rem;
        padding: 0.1rem; 
    }

    .return_btn i:hover{
        border-radius: 1.2rem;
        border: 0.3rem solid #eedf3cff;
    }

    /*************************************************************************************
    CONTACT TO BE REMOVED LATER
    ************************************************************************************
    * CONTACT SECTION*/
    #contact h2{
        margin-bottom: 1rem;
    }

    .hide{
        display: none;
    }

    form{
        padding: 1rem;
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .mobile_label{
        display: inline-block;
        width: 20vw;
        margin-left: 1rem;
    }

    .form_input{
        display: inline-block;
        width: 35vw;
    }

    .msg_heading{
        margin-bottom: 2rem;
    }

    .form_btn{
        margin: 2rem 2rem 0 4rem;
    }

    
    /*************************************************************************************
    GAME TO BE REMOVED LATER
    ************************************************************************************
    *gAME SECTION*/
    .tile {
        width: 75px;
        height: 75px;
    }
}


/*************************************************************************************
TABLET TO DESKTOP TO BE REMOVED LATER
************************************************************************************
* TABLET TO DESKTOP */
@media (min-width: 780px) {
    section,
    #about{
        display: none;
    }

    #side_menu{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    /*************************************************************************************
    COLOR CHOICE TO BE REMOVED LATER
    ************************************************************************************
    * Landing page*/
    #side_menu header{
        max-width: 30vw;
    }

    #side_menu #home{
        max-width: 70vw;
    }

    header #desktop_menu a{
        display: flex;
        flex-direction: column;
    }

    #desktop_menu{
        display: block;
        margin-top: 3rem;
    }

    #desktop_menu a{
        color: #f5f5f5ff;
        font-size: 2rem;
        text-align: center;
        padding: 3rem 1rem 3rem 2rem;
        width: 25vw;
    }

    #desktop_menu a:hover{
        color: #40406aff;
        font-weight: bolder;
        background-color: #e54a43ff;
        border-left: 0.5rem solid #eedf3cff;
        border-radius: 0.5rem;
        box-shadow: 0.2rem  0.3rem 0.2rem  0.1rem inset hsla(240, 25%, 33%, 1);
    }

    #menu_icon,
    #dropdown_menu{
        visibility: hidden;
    }

    .fa-brands{
        font-size: 1.5rem;
    }
  
    .fa-brands:hover{
        border-radius: 0.5rem;
    }

    #Menu_icon,
    #dropdown_menu{
        display: none;
    }
    
     #home_img{
        width: 50vw;
        height: 50vh;
        margin: 8rem 0 0 3rem;
    }


    /*************************************************************************************
    ABOUT TO BE REMOVED LATER
    ************************************************************************************
    * About page */
    .game_info_img{
        display: block;
        box-shadow: none;
        width: 25vw;
        height: 20vh;
        margin: 2rem 1rem;
    }

    #about{
        display: flex;
        flex-direction: column;
    }

    article{
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-shadow: 0.2rem  0.3rem 0.2rem  0.1rem hsla(240, 25%, 33%, 1);
        margin: 1rem;
        width: 60vw;
        height: 30vh;
    }

    #brief_position,
    #second_rules{
        overflow: scroll;
    }

    #second_rules{
        margin: 1.4rem 0.2rem 0.01rem 0;
        height: 28vh;
    }

    #flexbox_rules_instructions{
        display: flex;
        flex-direction: column;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    #flexbox_rules_instructions article{
        box-shadow: 0.2rem  0.3rem 0.2rem  0.1rem hsla(240, 25%, 33%, 1);
        margin: 1rem;
        width: 60vw;
        height: 30vh;
    }

    #flexbox_rules_instructions #instructions p{
        margin-top: 0.5rem;
    }

    #hide_return_btn{
        visibility: hidden;
    }

    #history{
        height: 25vh;
    }

    #flexbox_rules_instructions #rules{
        display: flex;
        flex-direction: row-reverse;
    }

    article h2{
        padding: 1rem; 
    }

    #flexbox_rules_instructions #instruction_p{
        margin: 0.5rem 0.3rem 0.2rem 0.5rem;
        height: 27vh;
        overflow: scroll;
    }


    /*************************************************************************************
    CONTACT TO BE REMOVED LATER
     ************************************************************************************/

    form{
        padding: 1.5rem;
        width: 58vw;
    }

    .form_input{
        width: 20vw
    }

    textarea{
        margin-left: 2.5rem;
        width: 45vw;
    }

    .form_btn{
        margin-left: 2.3rem;
    }

     
     /*************************************************************************************
    GAME TO BE REMOVED LATER
     ************************************************************************************/

    .tile {
        width: 100px;
        height: 100px;
    }



}

/*************************************************************************************
DESKTOP TO BIG MONITORS TO BE REMOVED LATER
************************************************************************************/
@media (min-width: 1024px) {
    /*************************************************************************************
    CONTACT TO BE REMOVED LATER
     ************************************************************************************/

     form{
        margin-left: 3rem;
    }

    .form_input{
        width: 20vw
    }

    textarea{
        margin-left: 2.5rem;
        width: 45vw;
    }

    .form_btn{
        font-size: large;
        padding: 0.5rem
    }


}
