/* CSS HEX 
--maize: #eedf3cff;
--viridian: #428b7bff;
--vermilion: #e54a43ff;
--outer-space: #474747ff;
--delft-blue: #40406aff;
--white-smoke: #f5f5f5ff;
--night: #0a0a0aff;
 
CSS HSL 
--maize: hsla(55, 84%, 58%, 1);
--viridian: hsla(167, 36%, 40%, 1);
--vermilion: hsla(3, 76%, 58%, 1);
--outer-space: hsla(0, 0%, 28%, 1);
--delft-blue: hsla(240, 25%, 33%, 1);
--white-smoke: hsla(0, 0%, 96%, 1);
--night: hsla(0, 0%, 4%, 1);
*/

*{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-size: 1.142rem;
    min-height: 100vh;
}

nav{
    padding: 0.10rem;
}

a{
    text-decoration: none;
    cursor: pointer;
    margin-right: 0.10rem;
}

#desktop_menu,
#game,
#home,
#about{
    display: none;
}

#dropdown_menu{
    display: flex;
    flex-direction: column;
}

#dropdown_menu a{
    display: block;
}

img{
    padding: 1rem;
}

h1{
    font-size: 1.90rem;
    text-align: center;
    padding: 0.5rem;
}

#home img{
    height: 50vh;
    width: 90vw;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    padding: 1rem;
}

#about .content_flow{
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
}

.content_flow p{
    padding: 0 0 1rem 0;
}

article,
form{
    padding: 1rem;
}

h2{
    font-size: 1.25rem;
    text-align: center;
}


#rules ul {
    list-style-type: circle;
    padding-inline-start: 1rem;
}

fieldset{
    height: 50vh;
    padding: 0.8rem;
}

legend{
    font-size: 1.2rem;
}

label{
    visibility: hidden;
}

input,
textarea,
button{
    margin: 0.3rem;
}

textarea{
    margin-left: 0.270rem;
}

input,
textarea{
    width: 75vw;
}

button{
    margin-left: 2rem;
    width: 20vw;
}

/*
#game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game_board{
    display: grid;
    gap: 0.625rem;
    padding: 1.24rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}
/*
